.note-item {
  display: inline-block;
  padding: 2rem;
  width: 25rem;
  margin: 0.5rem;
  vertical-align: middle;
  height: 20rem;
  background-color: #ffe4c4;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.note-item__title {
  font-size: 1.8rem;
  font-weight: 600;
  overflow-wrap: normal;
  color: #7c4708;
  overflow: hidden;
}

.note-item__created-at {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.6rem;
  margin-bottom: 1.4rem;
  color: #bd6d0c;
}

.note-item__body {
  font-size: 1.4rem;
  font-weight: 500;
  max-width: 100%;
  max-height: calc(2.2rem * 4);
  overflow: hidden;
  overflow-wrap: break-word;
  color: #3c2303;
}

.note-item__body.faded {
  /* position: relative; */
  overflow: hidden;
}

.note-item__body.faded::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to top,
    #ffe4c4 25%,
    transparent 100%
  );
}

.note-item__action {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d57500;
}

.note-item__action > span {
  color: #ffe4c4;
  font-size: 1.4rem;
  font-weight: 600;
}

@media (max-width: 1379px) {
  .note-item {
    width: 32%;
  }
}

@media (max-width: 828px) {
  .note-item {
    width: 48%;
  }
}

@media (max-width: 630px) {
  .note-item {
    display: block;
    margin: 1.6rem auto;
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .note-item:hover {
    transform: scale(1.1);
    box-shadow: 0.1rem 0.1rem 1rem #000;
    z-index: 12;
  }

  .note-item:hover::after {
    background: none;
  }
}
