.note-form__counter,
.note-form__input {
  display: block;
  width: 100%;
}

.note-form__counter {
  font-size: 1.4rem;
  font-weight: 500;
  color: #eed3b4;
  text-align: end;
}

.note-form__input {
  border: 0;
  border-bottom: 0.2rem solid #eed3b4;
  font-size: 1.8rem;
  padding: 1rem;
  font-weight: 600;
}
